@{
    ViewBag.Title = "APP下载-21天学通Java";
    Layout = "~/Views/Shared/_LayoutJava.cshtml";
}@using Vbes.WebControls.Mvc;
<div class="container">
    <div class="container-fluid" style="margin:20px auto; text-align:center;">
        最新版下载：<a href="@ViewData["url"]" target="_blank">点此进入</a>&nbsp;
        测试版下载：<a href="http://fir.im/java" target="_blank">点此进入</a>&nbsp;
        豌豆荚地址：<a href="http://www.wandoujia.com/apps/com.vbea.java21" target="_blank">点此进入</a>
        <br /><br />
        <table class="table-condensed download-list">
            <tr>
                <th colspan="3" style="text-align:center;">历史版本下载</th>
            </tr>
            <tr>
                <th style="width:30%; text-align:center;">版本</th>
                <th style="width:40%; text-align:center;">时间</th>
                <th style="width:30%; text-align:center;">链接</th>
            </tr>
        </table>
        <table class="table-hover download-list table">
            @foreach (var info in Model)
            {
                <tr>
                    <td style="width:30%">@info.version</td>
                    <td style="width:40%">@Html.Raw(Convert.ToDateTime(info.cdate).ToString("yyyy年MM月dd日"))</td>
                    <td style="width:30%">@if (!info.url.Equals("")){<a href="@info.url" target="_blank">点此下载</a>}</td>
                </tr>
            }
        </table>
        <div class="pager">
        @Html.Pager((IPagedList)Model, new PagerOptions
        {
            PageIndexParameterName = "p",
            ShowPageIndexBox = false,
            FirstPageText = "首页",
            PrevPageText = "上一页",
            NextPageText = "下一页",
            LastPageText = "末页",
            ContainerTagName = "li"
        })
        </div>
    </div>
</div>

