@{
    ViewBag.Title = "资料下载";
    Layout = "~/Views/Shared/_LayoutJava.cshtml";
}@using Vbes.WebControls.Mvc;
@section head{
    <link href="/css/article.css" rel="stylesheet" />}
<div class="container">
    <div class="container-fluid" style="margin:20px auto;">
        <div class="art">
             @foreach (var info in Model) {
            <div class="a_list">
                <img src="/images/books.png" />
                <div style="display:inline-table; padding:2px 5px;">
                    <a href="@Html.Raw("/material/" + info.id + ".html")">@info.title</a><br />
                    <span class="gray">@Html.Raw(Convert.ToDateTime(info.cdate).ToString("M-d"))</span>
                    <span>@info.remark</span>
                </div>
            </div>
}
    </div>
    <div class="pager">
        @Html.Pager((IPagedList)Model, new PagerOptions
        {
            PageIndexParameterName = "p",
            ShowPageIndexBox = false,
            FirstPageText = "首页",
            PrevPageText = "上一页",
            NextPageText = "下一页",
            LastPageText = "末页",
            ContainerTagName = "li"
        })
    </div>
    </div>

</div>