@{
    ViewBag.Title = "账号设置";
    Layout = "~/Views/Shared/_LayoutJava.cshtml";
}@section head{
    <script src="/Script/datepicker_lang.js"></script>
    <script src="/Script/jquery.datepicker.js"></script>
    <script src="~/Script/jquery.cityselect.js"></script>
    <link href="/css/datepicker.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            $("#birth").datepicker({ picker: "#picker", applyrule: function () { return { enddate: new Date() } } });
            $("#city").citySelect({nodata: "none", prov: "@Model.Address.Prov", city: "@Model.Address.City", dist: "@Model.Address.Dist"});
        });
        function showText() {
            $("#upForm").submit();
        }
    </script>
}
<div class="container">
    <div class="download-list">
        @using (Html.BeginForm("Portrait", "Users", FormMethod.Post, new { id = "upForm", enctype = "multipart/form-data" }))
        {<div id="headup" style="width:90px; height:90px; margin:20px auto;">
            <img src="@Model.HeadImg" style="width:90px; height:90px; cursor:pointer;" title="点击更换头像" onclick="javascript:myfile.click()" />
            <input id="myfile" name="myfile" type="file" accept=".jpg,.png,.gif,.jpeg" onchange="showText()"  style="display:none;" />
        </div>
        }
        <span class="text-error">@ViewData["portError"]</span><br />
        @using (Html.BeginForm("Settings", "Users", FormMethod.Post)) { 
        <div class="sett_list">
            <div style="margin-bottom:10px;">
                <span>用户名：</span>
                <span>@Model.UserName</span>
            </div>
            <div style="margin-bottom:10px;">
                <span>密码：</span>
                <span><a href="/users/changepassword">修改密码</a> <span class="text-success">@ViewData["psdSuc"]</span></span>
            </div>
            <div>
                <span>昵称：</span>
                <span><input id="nickname" name="nickname" type="text" maxlength="10" value="@Model.NickName" required="required" /></span>
            </div>
            <div>
                <span>性别：</span>
                <span>
                    <select id="gender" name="gender">
                        @if (Model.Gender == 0) { 
                        <option value="0" selected>男</option>
                        <option value="1">女</option>
                        } else {
                        <option value="0">男</option>
                        <option value="1" selected>女</option>
                        }
                    </select>
                </span>
            </div>
            <div>
                <span>生日：</span>
                <span>
                    <input id="birth" name="birth" type="text" required="required" pattern="^(^(\d{4})(\-|\/|\.)\d{1,2}\3\d{1,2}$)|(^\d{4}-\d{1,2}-\d{1,2}$)$" value="@Convert.ToDateTime(Model.Birthday).ToString("yyyy-M-d")"/>
                    <img id="picker" class='picker' align='middle' src='/images/cal.gif' alt='' />
                </span>
            </div>
            <div>
                <span>ＱＱ：</span>
                <span><input id="qq" type="text" name="qq" pattern="[1-9][0-9]{4,14}" value="@Model.QQ"/></span>
            </div>
            <div>
                <span>手机：</span>
                <span><input id="mobile" type="text" name="mobile" pattern="^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|17[0|1|2|3|4|5]|18[0|1|2|3|5|6|7|8|9])\d{8}$" value="@Model.Mobile"/></span>
            </div>
            <div>
                <span>地址：</span>
                <div id="city" style="text-align:center; padding-right:15px; padding-bottom:10px;">
                    <select name="prov" class="prov"></select>
                    <select name="city" class="city" style="display:none;"></select>
                    <select name="dist" class="dist" style="display:none;"></select>
                </div>
            </div>
            <div>
                <span>签名：<br /></span>
                <span><textarea id="signmark" name="remark">@Model.Mark</textarea></span>
            </div>
            <div class="text-center" style="padding:10px 5px 20px 5px;">
                <input type="submit" class="btn btn-info" value="保 存" style="width:30%;" onclick="return confirm('确定要修改吗？')" />
            </div>
        </div>}
    </div>
</div>