<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="keywords" content="21天学通Java,邠心,邠心工作室,Android软件开发,Java学习,BXA学堂,正德应用,自学Java" />
    <meta name="description" content="《21天学通Java》-邠心工作室-Java学习网站-在线学习，Android软件开发" />
    <meta name="author" content="邠心" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href="/css/bootstrap_2.css" rel="stylesheet" />
    <script src="/Script/jquery.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>
    <script src="/Script/move-top.js"></script>
    <script src="/Script/easing.js"></script>
    <script src="/Script/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src='/Script/mathquill/mathquill.js'></script>
    <link rel='stylesheet' href='/Script/mathquill/mathquill.css' />
    <link href="/css/shCoreDefault.css" rel="stylesheet" />
    <script src="/Script/jquery.qqFace.js"></script>
    <script src="/Script/shCore.js"></script>
    <script src="/Script/shBrushJava.js"></script>
    <link href="/css/article.css" rel="stylesheet" />
    <title>@Model.title - 21天学通Java</title>
    <style type="text/css">
        #toTop {
            display: none;
            text-decoration: none;
            position: fixed;
            bottom: 0px;
            right: 10px;
            overflow: hidden;
            width: 48px;
            height: 48px;
            border: none;
            text-indent: 100%;
            background-size: 35px;
            background: url(/images/arr.png) no-repeat 0px 0px;
            z-index: 99999;
            outline: 0;
        }
    </style>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
            $().UItoTop({ easingType: 'easeOutQuart' });
            SyntaxHighlighter.all();
            $('.emotion').qqFace({ wap: true });
        });
        function check() {
            $("#labError").text("");
            if ($("#txtComment").val().length == 0) {
                $("#labError").text("请输入评论内容");
                return false;
            }
            $("#imgLoading").show();
            return true;
        }
        function clisa() {
            $("#imgLoading").hide();
            $("#txtComment").val("");
        }
    </script>
    <script>
        (function () {
            var bp = document.createElement('script');
            bp.src = '//push.zhanzhang.baidu.com/push.js';
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
<body>
    <div class="art-java">
        <div class="container">
            <div class="art_rview art_view">@Html.Raw(Model.cread + "次阅读") <a class="scroll" href="#viewcommond">评论</a>(@Model.comcount)</div>
            <div class="text">
                @Html.Raw(Model.artical)
            </div>
            <div id="viewcommond" style="text-align: left; padding: 1px 5px; font-size: 14px;">
                @using (Ajax.BeginForm("views", new AjaxOptions() { UpdateTargetId = "comments", HttpMethod = "Post", OnSuccess = "clisa()" }))
                {
                    <div id ="imgLoading"><img src="/images/ui_loading.gif" /></div>
                    <table style="width: 100%;">
                        <tr>
                            <td colspan="2" style="width: 100%;">
                                <textarea name="txtComment" rows="2" cols="20" id="txtComment" style="height:60px;width:100%;margin: 5px auto;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                <span class="emotion">
                                    <img src="/images/face.png" />
                                </span>
                                <span id="labError" style="color:Red;">@ViewData["logins"]</span>
                                <div class="qqFace" id="facebox" style="position: absolute; z-index: 1000; display:none;">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_1]');" src="/images/arclist/1.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_2]');" src="/images/arclist/2.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_3]');" src="/images/arclist/3.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_4]');" src="/images/arclist/4.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_5]');" src="/images/arclist/5.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_6]');" src="/images/arclist/6.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_7]');" src="/images/arclist/7.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_8]');" src="/images/arclist/8.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_9]');" src="/images/arclist/9.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_10]');" src="/images/arclist/10.gif">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_11]');" src="/images/arclist/11.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_12]');" src="/images/arclist/12.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_13]');" src="/images/arclist/13.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_14]');" src="/images/arclist/14.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_15]');" src="/images/arclist/15.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_16]');" src="/images/arclist/16.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_17]');" src="/images/arclist/17.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_18]');" src="/images/arclist/18.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_19]');" src="/images/arclist/19.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_20]');" src="/images/arclist/20.gif">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_21]');" src="/images/arclist/21.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_22]');" src="/images/arclist/22.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_23]');" src="/images/arclist/23.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_24]');" src="/images/arclist/24.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_25]');" src="/images/arclist/25.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_26]');" src="/images/arclist/26.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_27]');" src="/images/arclist/27.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_28]');" src="/images/arclist/28.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_29]');" src="/images/arclist/29.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_30]');" src="/images/arclist/30.gif">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_31]');" src="/images/arclist/31.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_32]');" src="/images/arclist/32.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_33]');" src="/images/arclist/33.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_34]');" src="/images/arclist/34.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_35]');" src="/images/arclist/35.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_36]');" src="/images/arclist/36.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_37]');" src="/images/arclist/37.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_38]');" src="/images/arclist/38.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_39]');" src="/images/arclist/39.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_40]');" src="/images/arclist/40.gif">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_41]');" src="/images/arclist/41.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_42]');" src="/images/arclist/42.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_43]');" src="/images/arclist/43.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_44]');" src="/images/arclist/44.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_45]');" src="/images/arclist/45.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_46]');" src="/images/arclist/46.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_47]');" src="/images/arclist/47.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_48]');" src="/images/arclist/48.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_49]');" src="/images/arclist/49.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_50]');" src="/images/arclist/50.gif">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_51]');" src="/images/arclist/51.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_52]');" src="/images/arclist/52.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_53]');" src="/images/arclist/53.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_54]');" src="/images/arclist/54.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_55]');" src="/images/arclist/55.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_56]');" src="/images/arclist/56.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_57]');" src="/images/arclist/57.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_58]');" src="/images/arclist/58.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_59]');" src="/images/arclist/59.gif">
                                            </td>
                                            <td>
                                                <img onclick="$('#txtComment').setCaret();$('#txtComment').insertAtCaret('[em_60]');" src="/images/arclist/60.gif">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td style="text-align: right; padding-right: 2px;">
                                <input type="submit" name="btnComment" value="发表评论" onclick="return check();" id="btnComment" class="btn btn-info" @ViewData["vilid"] />
                        </tr>
                    </table>
                }
                <div style="width: 100%; height: 9px; background-color: #EEEEEE; margin: 5px auto 0px auto;"></div>
                <div id="comments" style="width:100%; margin:0 auto; padding-bottom:20px;">
                @if (Model.comcount > 0)
                {
                    foreach (var comment in Model.comments)
                    {
                        <div class="comment">
                            <div class="head">
                                <div id="head"><img src="@comment.head"></div>
                                <div id="uid"><a href="@Html.Raw("/users/details/" + comment.sid)">@comment.uid</a><span id="device">@comment.device</span></div>
                                <div id="cdate">@Convert.ToDateTime(comment.cdate).ToString("MM-dd HH:mm")</div>
                            </div>
                            <div id="comment">@Html.Raw(comment.comment)</div>
                        </div>
                    }
                }
                else
                {
                    <div style="width: 100%; height: 150px; text-align: center; color: #CCCCCC; padding: 10px 0px;">还没有人评论，快来抢沙发吧！</div>
                }
                </div>
                @if (Model.comcount > 10 && ViewData["vilid"].Equals(""))
                {
                <div class="text-center"><a href=@Html.Raw("/c/" + @Model.id + ".html")>查看更多>></a></div>
                }
            </div>
        </div>
    </div>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>